/** Font family */
$ff-question-panel-body-id: Georgia, serif;

/** Font size */
$fs-basic-addon2-id: 24px;
$fs-answer-check-btn-id-768: 24px;
$fs-legend: 24px;
$fs-start-new-exercise-btn-id-768: 24px;
$fs-checkbox__label: 20px;
$fs-question-panel-body-id: 30px;
$fs-question-panel-body-id-768: 40px;
$fs-results-panel-id-768: 24px;
$fs-both-answers-label-id-768: 18px;

/** Font weight */
$fw-question-panel-body-id: bold;

/** Font style */
$fst-question-panel-body-id: italic;

/** Line height */
$lh-question-panel-id: 30px;
$lh-question-panel-body-id: 30px;
$lh-question-panel-body-id-768: 40px;

/** Text align */
$ta-question-panel-body-id: center;